<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/png" href="https://user-images.githubusercontent.com/50907344/123521561-b6d98500-d6b7-11eb-9962-acbc3092010d.jpg" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Caetano</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#logo">
            <img src="https://cdn.iconscout.com/icon/free/png-512/code-280-460136.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#self">Who am I ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work">Work experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Software skills</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="mailto:CaetanooG@hotmail.com">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Outlook.com_icon_%282012-2019%29.svg/2028px-Outlook.com_icon_%282012-2019%29.svg.png"
                            alt="" width="30px" height="30px" style="padding: 0%;">
                    </a>
                </li>
                <li style="padding-left: 5%;">
                    <a href="https://github.com/CaetanoGS/">
                        <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt=""
                            width="30px" height="30px" style="padding-right: 0%;">
                    </a>
                </li>
                <li style="padding-left: 5%;">
                    <a href="https://www.linkedin.com/in/gustavo-caetano-de-souza-00ab0a128/">
                        <img src="https://denkpharma.de/wp-content/uploads/2018/09/linkedin-logo-copy.png" alt=""
                            width="30px" height="30px" style="padding-left: 0%;">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="logo" style="background-color: black; height: 100vh;">
        <img src="https://user-images.githubusercontent.com/50907344/123519112-9c001400-d6a9-11eb-9ca7-bceb644b9801.jpeg"
            alt="" style="margin: auto; display: block; padding-top: 10%; width: auto; height: auto; max-width: 100%;">
    </section>
    <section id="self" style="height: auto; background-color: rgb(22, 22, 22); color: rgb(247, 247, 247);">
        <div class="container" style="padding: 2%;">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <p class="card-text">
                            <img src="https://user-images.githubusercontent.com/50907344/123519114-9c98aa80-d6a9-11eb-9980-bbc66ca76314.jpg"
                                alt="" class="card-img" width="300px" style="border: 5%; display:inline-block;">
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title">Who am I ?</h5>
                        <p class="card-text" style="text-align: justify; width: auto;">
                            My name is Gustavo Caetano de Souza and I am Control and Automation Engineer graduated at
                            Federal University of Mato Grosso situated in Brazil. My work experience is focused on
                            software development. In my first experience, I worked as an intern in software development
                            at Machine Tool Laboratory WZL, where I built interfaces to connect JaamSim with other
                            equipments as robots from the assembly system using the OPC-UA protocol. In this internship
                            I also projected and started to build the backend of the interface that received the
                            simulations ran on JaamSim to get the assembly time. All the backend was built using Django
                            Rest Framework. In 2020, I boarded on another challenge as Trainee in a Brazilian company
                            called as Grupo Experity, where I got in touch with SAP technologies, especially with
                            Customer Data Cloud (Gigya). Nowadays, I am working at oculavis GmbH as Backend Software
                            Developer (Django Rest Framework) and I am also working as SAP
                            CDC consultant at the Brazilian company.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="work" style="height: auto; text-align:center; background-color:black;">

        <div class="container" style="text-align:center; text-align:center;">
            <div class="row" style="padding-top: 5%; text-align:center;">
                <div class="col-sm"></div>
                <div class="col-sm" style="font-size: 250%; color: rgb(247, 247, 247)">Working Experience</div>
                <div class="col-sm"></div>

            </div>
            <div class="row" style="padding-top: 5%; text-align:center;">
                <div class="col-sm-4" style="padding-bottom:2%">
                    <div class="card text-white bg-dark mb-3" style="width: 100%; height: 100%;">
                        <img class="card-img-top"
                            src="https://center-smart-services.com/wp-content/uploads/sites/9/2019/02/wzl_RWTH_Aachen.png"
                            alt="Card image cap" height="120rem" style="padding: 5%">
                        <div class="card-body">
                            <h5 class="card-title">Internship</h5>
                            <p class="card-text" style="text-align: justify;">Development of packages to connect Jaamsim
                                to external servers and
                                development of the backend of the simulation platform, where the used framework was
                                Django Rest Framework.</p>
                        </div>
                        <div class="card-footer text-muted">
                            From May 2019 until August 2020
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-bottom:2%">
                    <div class="card text-white bg-dark mb-3" style="width: 100%; height: 100%;">
                        <img class="card-img-top"
                            src="https://www.vertra.com.br/wp-content/uploads/2018/12/sticky-logo.png"
                            alt="Card image cap" height="120rem" style="padding: 7%; padding-bottom: 2%">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Trainee CRM Solutions</h5>
                            <p class="card-text" style="text-align: justify;">
                                Project with Wild Fork Foods USA to implement Gigya into their original Website based on
                                Shopify (e-commerce). In this project
                                NodeJS APIs were built to stablish a connection between SAP world and Shopify base.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Since August 2020
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="padding-bottom:2%">
                    <div class="card text-white bg-dark mb-3" style="width: 100%; height: 100%;">
                        <img class="card-img-top" src="https://oculavis.de/img/oculavis_logo.svg" alt="Card image cap"
                            height="120rem" style="padding: 5%">
                        <div class="card-body">
                            <h5 class="card-title">Backend Software Developer</h5>
                            <p class="card-text" style="text-align: justify;">
                                Maintenance and creation of new features in the backend beased on Django Rest Framework.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Since February 2021
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="skills" style="background-color:rgb(22, 22, 22); height: auto;">

    </section>
</body>

</html>